<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<% content_for :navigation do %>
  <nav class="navbar navbar--inline">
    <%= link_to t('shared.navbar.sign_up'),
      sign_up_path,
      class: 'navbar__link' %>
    <%= link_to t('shared.navbar.sign_in'),
      sign_in_path,
      class: ['navbar__link', 'active'] %>
  </nav>
<% end %>

<% content_for :body do %>
  <%= render partial: 'shared/notifications' %>
  <%= render partial: 'sessions/form' %>
<% end %>

<% content_for :footer do %>
  <%= link_to t('.forgot_password'), new_password_path %>
<% end %>
