<%= render partial: 'shared/navbar' %>

<div class="notes" data-stimulus-controller="notes">
  <div class="notes__editor">
    <div class="note"
      data-stimulus-action="input->notes#onChanged"
      data-stimulus-target="notes.note">

      <%# TODO: Use HTML sanitizer instead for security reasons %>
      <%= @note.text.html_safe %>
    </div>

    <!-- Shadow form -->
    <div class="note__shadow-form">
      <%= form_with scope: :note,
        url: note_path,
        method: :patch,
        data: {
          stimulus_action:
            'ajax:send->notes#onSend ajax:success->notes#onSuccess ajax:error->notes#onError'
        } do |form| %>
        <div class="form__group">
          <%= form.text_area :text,
            class: 'form__input',
            data: { stimulus_target: 'notes.input' } %>
        </div>
        <%= form.submit class: 'button', data: { stimulus_target: 'notes.submitButton' } %>
      <% end %>
    </div>
  </div>
</div>
