<!-- Uses page-wide notes controller -->

<% content_for :toolbar do %>
  <%= button_tag t('.saved'),
    class: ['btn', 'note-statusBtn', 'disabled'],
    data: {
      stimulus_action: 'click->notes#save',
      stimulus_target: 'notes.saveButton'
    } %>
<% end %>

<div class="note">
  <div class="note-editor"
    contenteditable="true"
    data-stimulus-action="input->notes#onNoteInput"
    data-stimulus-target="notes.note">
    <!-- TODO: Use HTML sanitizer instead for security reasons -->
    <%= @note.text.html_safe %>
  </div>

  <!-- Shadow form -->
  <div class="d-hide">
    <%= form_with scope: :note,
      url: note_path,
      method: :patch,
      data: {
        stimulus_action: 
          'ajax:send->notes#onSend ajax:success->notes#onSuccess ajax:error->notes#onError'
      } do |form| %>
      <div class="form-group">
        <%= form.text_area :text, class: 'form-input', data: { stimulus_target: 'notes.input' } %>
      </div>
      <%= form.submit class: ['btn'], data: { stimulus_target: 'notes.submitButton' } %>
    <% end %>
  </div>
</div>
