<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<% content_for :navigation do %>
  <nav class="navbar navbar--inline">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t('shared.navbar.sign_up'),
        sign_up_path,
        class: ['navbar__link', 'active'] %>
    <% end %>
      <%= link_to t('shared.navbar.sign_in'),
        sign_in_path,
        class: 'navbar__link' %>
  </nav>
<% end %>

<% content_for :body do %>
  <%= form_for @user do |form| %>
    <%= render partial: 'users/form', object: form %>

    <div class="form__submit">
      <%= form.submit class: ['button', 'button--primary'] %>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <% link_to t('.cancel'), home_index_path %>
<% end %>
