<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<% content_for :body do %>
  <%= form_for @user, data: { stimulus_controller: 'users' } do |form| %>
    <%= render partial: 'users/form', object: form %>

    <%# Additional password confirmation field %>
    <div class="form__group">
      <%= form.label :password_confirmation, class: 'form__label' %>
      <%= form.password_field :password_confirmation,
        class: 'form__input',
        placeholder: '••••••••••',
        data: {
          stimulus_action: 'input->users#onPasswordInput',
          stimulus_target: 'users.passwordConfirmationField'
        } %>
    </div>

    <div class="form__submit">
      <%= form.submit class: ['button', 'button--primary'],
        data: { stimulus_target: 'users.submitButton' } %>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <% link_to t('.cancel'), home_index_path %>
<% end %>
