<header class="navbar">
  <section class="navbar__section navbar__section--left">
    <%= link_to t('name'), home_index_path, class: 'navbar__brand' %>
  </section>

  <section class="navbar__section navbar__section--right">
    <% if signed_in? %>
      <%= navbar_link_to t('.edit'),
        edit_note_path,
        class: 'navbar__link' %>
      <%= navbar_link_to current_user.email,
        edit_user_path,
        class: 'navbar__link' %>
      <%= button_to t('shared.navbar.sign_out'),
        sign_out_path,
        method: :delete, class: 'navbar__link' %>
    <% else %>
      <% if Clearance.configuration.allow_sign_up? %>
        <%= navbar_link_to t('shared.navbar.sign_up'),
          sign_up_path,
          class: 'navbar__link' %>
      <% end %>
      <%= navbar_link_to t('shared.navbar.sign_in'),
        sign_in_path,
        class: 'navbar__link' %>
    <% end %>
  </section>
</header>
