<div class="home">
  <h1 class="home-title"><%= t('.title') %></h1>
  <p class="home-description">
    <%= t('.description') %>
  </p>

  <div class="home-actions">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t('layouts.application.sign_up'),
        sign_up_path,
        class: ['btn', 'btn-primary'] %>
    <% end %>
    <%= link_to t('layouts.application.sign_in'), sign_in_path, class: ['btn'] %>
  </div>

  <!-- TODO: i18n -->
  <p class="home-footer">
    Made with &hearts; by <%= link_to 'Andreas Philippi', 'https://anphil.github.io',
    target: '_blank' %>. Skriva is published on <%= link_to 'GitHub',
    'https://github.com/anphil/skriva', target: '_blank' %>, and provided under the
    <%= link_to 'MIT license', 'https://github.com/anphil/skriva/blob/master/LICENSE.md',
    target: '_blank' %>.
    </p>
  </p>
</div>
