<div class="home-content">
  <h1 class="home-title"><%= t('.title') %></h1>
  <p class="home-description">
    <%= t('.description') %>
  </p>

  <div class="home-actions">
    <%= link_to t('layouts.application.sign_up'),
      sign_up_path,
      class: ['btn', 'btn-primary', 'btn-lg'] %>
    <%= link_to t('layouts.application.sign_in'), sign_in_path, class: ['btn', 'btn-lg'] %>
  </div>

  <!-- TODO: Add repository and license links -->
  <p class="home-copyright">
    Made with &hearts; by <%= link_to 'Andreas Philippi', 'https://anphil.github.io', target: '_blank' %>. Find Skriva on <%= link_to 'GitHub', '#', target: '_blank' %>,<br/>or read the copyright information <%= link_to 'here', '#', target: '_blank' %>.
  </p>
</div>
