<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<% content_for :navigation do %>
<% end %>

<% content_for :body do %>
  <p><%= t(".description") %></p>
  <%= form_for :password_reset,
    url: user_password_path(@user, token: @user.confirmation_token),
    html: { method: :put } do |form| %>
    <div class="form-group">
      <%= form.label :password, class: 'form-label' %>
      <%= form.password_field :password, class: 'form-input', autofocus: true %>
    </div>

    <div class="submit-field">
      <%= form.submit class: ['btn', 'btn-primary'] %>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <% link_to t('.cancel'), sign_in_path %>
<% end %>
