<!DOCTYPE html>
<html>
  <head>
    <title>Skriva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <header id="header" class="navbar">
      <section class="navbar-section">
        <%= link_to t('name'), home_index_path, class: ['navbar-brand', 'mr-2'] %>
        <% if signed_in? %>
          <!-- TODO: i18n -->
          <%= link_to 'Edit', notes_index_path, class: ['btn', 'btn-link'] %>
          <%= button_to t('layouts.application.sign_out'),
            sign_out_path,
            method: :delete, class: ['btn', 'btn-link'] %>
        <% else %>
          <%= link_to t('layouts.application.sign_in'), sign_in_path, class: ['btn', 'btn-link'] %>
        <% end %>
      </section>
      <section class="navbar-section">
        <%= yield :toolbar %>
      </section>
    </header>

    <!-- TODO: Style flashes -->
    <div class="toast-wrapper">
      <% flash.each do |key, value| %>
        <div class="toast toast-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
