<!DOCTYPE html>
<html>
  <head>
    <title>Skriva<% if defined? @title %> | <%= @title %><% end %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if @client_locales %>
    <script>
      window.locales = <%= raw @client_locales.to_json %>
    </script>
    <% end %>
  </head>

  <%= tag.body data: { stimulus_controller: @page_controller } do %>

    <%# Global navigation %>
    <!-- <header id="header" class="navbar">
      <section class="navbar-section">
        <%= link_to t('name'), home_index_path, class: ['navbar-brand'] %>
        <% if signed_in? %>
          <%= navbar_link_to t('.edit'),
            edit_note_path,
            class: ['btn', 'btn-link'] %>
          <%= navbar_link_to current_user.email,
            edit_user_path,
            class: ['btn', 'btn-link'] %>
          <%= button_to t('layouts.application.sign_out'),
            sign_out_path,
            method: :delete, class: ['btn', 'btn-link'] %>
        <% else %>
          <% if Clearance.configuration.allow_sign_up? %>
            <%= navbar_link_to t('layouts.application.sign_up'),
              sign_up_path,
              class: ['btn', 'btn-link'] %>
          <% end %>
          <%= navbar_link_to t('layouts.application.sign_in'),
            sign_in_path,
            class: ['btn', 'btn-link'] %>
        <% end %>
      </section>

      <section class="navbar-section">
        <%= yield :toolbar %>
      </section>
    </header>-->

    <%# Flash messages %>
    <% unless @template_renders_notifications %>
      <%= render partial: 'shared/notifications' %>
    <% end %>

    <!-- Content -->
    <%= yield %>
  <% end %>
</html>
