<%= render layout: 'layouts/master' do |f| %>
  <!-- Left column -->
    <div class="panel-wrapper">
      <div class="panel">

        <!-- Panel headline -->
        <div class="panel-header">
          <div class="panel-title h5"><%= yield :header %></div>
        </div>

        <!-- Navigation -->
        <div class="panel-nav">
          <%= yield :navigation %>
        </div>

        <!-- Content -->
        <div class="panel-body">
          <%= yield :body %>
        </div>

        <!-- Footer -->
        <div class="panel-footer">
          <%= yield :footer %>
        </div>
      </div>
    </div>
  </div>
<% end %>
